html, body {
    background-image: url('https://wallpaperscraft.com/image/wood_background_texture_36573_2560x1600.jpg');
    font-family: "Montserrat", serif;
    margin:0;
    padding:0;
    position: relative;
}

.body-container {
    width: 1000px;
    height: 1000px;
    margin: auto;
    text-align: center;
}

.left-container {
    width: 230px;
    position: relative;
    text-align: center;
    display: block;
    margin-left: 70px;
}

.social-media-container {
    position: relative;
    background-color: #404040;
    border-radius: 8px;
    margin-top: 30px;
    display: block;
    float: left;
    clear: left;
    padding: 6px;
    margin-left: 46px;
}

.social-media-icon {
    margin: 5px;
    text-decoration: none;
}

.menu-vertical {
    position: relative;
    background-color: #404040;
    border-radius: 8px;
    width: 230px;
    margin-top: 30px;
    text-align: center;
    display: block;
    float: left;
}

.menu-text {
    position: relative;
    background-color: #404040;
    color: #ffffff;
    width: 200px;
    padding-left: 10px;
    text-align: left;
    display: block;
}

.divider {
    height: 1px;
    width: 100%;
    background-color: #666666;
    display: block;
}

.item-menu-vert {
    font-size: 20px;
    text-decoration: none;
    color: #ffffff;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    display:block;
    text-align: center;
}

.item-menu-bottom {
    border-radius: 0px 0px 8px 8px;
}

.item-menu-vert:hover {
    background-color: #ff5050;
}


.post {
    background-color: #404040;
    color: #ffffff;
    border-radius: 8px;
    position: relative;
    width: 600px;
    height: 300px;
    display: block;
    top: 30px;
    margin-left: 330px;
}

.resume-section {
    position: relative;
    background-color: #404040;
    color: #ffffff;
    width: 600px;
    margin-left: 330px;
    top: 30px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 8px;
    font-size: 20px;
    display: block;
}

div.title {
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 8px;
}

div.resume-section:hover{
    background-color: #ff5050;    
}

.resume-section-description {
    background-color: #404040;
    width: 600px;
    display: none;
}

a.download-btn {
    position: relative;
    background-color: #404040;
    color: #ffffff;
    border-radius: 8px;
    top: 30px;
    margin-left: 580px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    width: 100px;
    text-decoration: none;
}

a.download-btn:hover {
    background-color: #ff5050;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #404040;
    display: block;
    text-align: center;
    clear: both;
}
