html, body {
	font-family: "Montserrat", serif;
	background-color: #009973;
	color: #4d4d4d;
	margin:0;
	padding:0;
	overflow: hidden;
	position: relative;
}

#menu-icon {
	cursor: pointer;
	padding: 25px 0px 25px 25px;
	text-align: center;
	color: #e5ffe5;
}

.menu {
	background-color: #e6e6e6;
	top: -75px;
	height: 75px;
	width: 100%;
	position: fixed;
}


#arrow-down {
    margin-top: -65px;
    transform: rotate(270deg) scale(.30, .30);
    display: inline;
}

#arrow-up {
   margin-top: -65px;
   transform: rotate(90deg) scale(.30, .30);
   display: none;
}

.content-body {
    text-align: center;
}

a {
    font-size: 25px;
    position: relative;
    top: 20px; 
    left: 10px;
    padding-left: 15px;
    color: #4d4d4d;
    text-decoration: none;
}

a:hover {
    color: #bfbfbf;
}

.header {
    text-align: center;
}
.name {
    position: relative;
    left: 15px;
    top: -60px;
}