html, body {
	font-family: "Montserrat", serif;
	background-color: #009973;
	margin:0;
	padding:0;
	overflow: hidden;
	position: relative;
}

#menu-icon {
	cursor: pointer;
	padding: 25px 0px 25px 25px;
	text-align: center;
	color: #e5ffe5;
}

.menu {
	background-color: #e6e6e6;
	top: -75px;
	height: 75px;
	width: 100%;
	position: fixed;
}

.arrow-icon{
	margin-top: -65px;

}

#menu-icon.rotate90 #arrow {
	transform: rotate(270deg) scale(.30, .30);
}

#menu-icon.rotate270 #arrow {
	transform: rotate(90deg) scale(.30, .30);
}